
body {
  font-family: cursive;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}

.container-fluid {
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}

.navbar {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.colorPalletContainer {
  margin: 0;
  padding: 0;
  margin-right: 9%;
}

.bgColorPallet {
  margin: 0;
  padding: 0;
  margin: 2px;
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 2px solid rgb(248,249,250);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.bgColorPallet:hover {
  margin: 0;
  padding: 0;
  margin-left: 7px;
  margin-right: 7px;
  height: 27px;
  width: 27px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}

.textarea {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2px;
}

#clear-button {
  position: fixed;
  right: 25%;
}

#copy-button {
  margin: 0;
  margin-top: -1%;
  display: inline-block;
  position: fixed;
  right: 25%;
  size: 10%;
  box-shadow: none;
}

#copy-button-sm-screen {
  display: none;
}

#owner {
  position: fixed;
  bottom: 0;
  right: 1%;
  border-top: 1px solid rgb(218, 218, 218);
  z-index: 100;
}

#owner > h6 {
  margin: 2px;
  color: rgb(214, 214, 214);
}

p {
  margin-left: 5%;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .textarea {
    width: 75%;
    margin-top: 5px;
  }

  #clear-button {
    position: fixed;
    right: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #copy-button {
    display: none;
  }

  #copy-button-sm-screen {
    margin: 0;
    margin-top: -5%;
    display: inline-block;
    position: fixed;
    right: 6%;
    box-shadow: none;
}

  p {
    margin-left: 5%;
    margin-bottom: 0;
  }
}