
body {
  font-family: cursive;
}

.textarea {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2px;
}

#clear-button {
  position: fixed;
  right: 25%;
}

#owner {
  position: fixed;
  bottom: 0;
  right: 1%;
  border-top: 1px solid rgb(218, 218, 218);
  z-index: 100;
}

#owner > h6 {
  margin: 2px;
  color: rgb(214, 214, 214);
}

p {
  margin-left: 5%;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .textarea {
    width: 75%;
    margin-top: 5px;
  }

  #clear-button {
    position: fixed;
    right: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  p {
    margin-left: 5%;
    margin-bottom: 0;
  }
}